# put here your custom config value
menu "Example Configuration"
config ESP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config ESP_IPINFO_TOKEN
	string "Token for API of ipinfo.io"
	default "0123467890"
	
config WEATHER_API_KEY
	string "Token for API of openweathermap.org"
	default "0123467890"

endmenu
